.app {
  margin: 20px 0;
}

.app .candidate-table {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.app .icon {
  cursor: pointer;
}

.app .candidate-details {
  cursor: pointer;
  width: 100%;
}

.app .candidate-details__section {
  margin: 20px 0;
}

.app .candidate-details__header {
  display: flex;
  align-items: center;
}

.app .candidate-details__header > * {
  margin: 0;
  flex-basis: 25%;
}

.app .candidate-details__finances {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}

.app .candidate-details__finances > * {
  margin: 0;
}

.green {
  color: green;
}
